In [1]:
import pandas as pd 
import numpy as np

In [9]:
lag = pd.read_parquet('/home/luke/pistar/jane-street-real-time-market-data-forecasting/lags.parquet/date_id=0/part-0.parquet').head()

In [12]:
test = pd.read_parquet('/home/luke/pistar/jane-street-real-time-market-data-forecasting/test.parquet/date_id=0/part-0.parquet')
test.symbol_id.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38], dtype=int8)

In [2]:
train = pd.read_parquet("/home/luke/pistar/jane-street-real-time-market-data-forecasting/train.parquet/partition_id=0/part-0.parquet")
train.head()

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,feature_78,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8
0,0,0,1,3.889038,NaN,NaN,NaN,NaN,NaN,0.851033,...,-0.281498,0.738489,-0.069556,1.380875,2.005353,0.186018,1.218368,0.775981,0.346999,0.095504
1,0,0,7,1.370613,NaN,NaN,NaN,NaN,NaN,0.676961,...,-0.302441,2.965889,1.190077,-0.523998,3.849921,2.626981,5.000000,0.703665,0.216683,0.778639
2,0,0,9,2.285698,NaN,NaN,NaN,NaN,NaN,1.056285,...,-0.096792,-0.864488,-0.280303,-0.326697,0.375781,1.271291,0.099793,2.109352,0.670881,0.772828
3,0,0,10,0.690606,NaN,NaN,NaN,NaN,NaN,1.139366,...,-0.296244,0.408499,0.223992,2.294888,1.097444,1.225872,1.225376,1.114137,0.775199,-1.379516
4,0,0,14,0.440570,NaN,NaN,NaN,NaN,NaN,0.955200,...,3.418133,-0.373387,-0.502764,-0.348021,-3.928148,-1.591366,-5.000000,-3.572820,-1.089123,-5.000000

In [22]:
symbol_set = set()
symbol_num = {}

for i in range(0,10):
   temp = pd.read_parquet(f"/home/luke/pistar/jane-street-real-time-market-data-forecasting/train.parquet/partition_id={i}/part-0.parquet")
   symbol_set.update(temp.symbol_id.unique().tolist())
   
   # symbol_id별 count를 계산
   counts = temp.symbol_id.value_counts()
   
   # 각 symbol_id의 count를 누적
   for symbol_id, count in counts.items():
       if symbol_id in symbol_num:
           symbol_num[symbol_id] += count
       else:
           symbol_num[symbol_id] = count

In [23]:
symbol_num

{1: 1543979,
 16: 1538290,
 7: 1546272,
 19: 1550501,
 0: 1468466,
 9: 1525333,
 38: 1478146,
 33: 1508099,
 12: 1514621,
 13: 1507964,
 8: 1404768,
 10: 1515692,
 2: 1484398,
 17: 1473734,
 34: 1465720,
 3: 1446495,
 11: 1460507,
 14: 1458690,
 15: 1367847,
 30: 1429094,
 5: 1057321,
 20: 1145409,
 22: 1141537,
 29: 1127985,
 26: 1147464,
 36: 1139720,
 25: 1126287,
 21: 940653,
 23: 1086146,
 35: 911856,
 37: 942832,
 28: 937024,
 27: 861520,
 24: 706640,
 31: 716320,
 4: 683408,
 6: 611776,
 32: 595320,
 18: 559504}